{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block title_wrapper %}
<section class="callaction" style="padding-top:0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block left_wrapper %}
{% endblock %}

{% block main_col_size %}12{% endblock %}

{% block jumbotron_wrapper %}
<img src="{% static 'media/uploads/test/2_oblate.jpg' %}" alt="" class="img-responsive">
{% endblock %}

{% block main_wrapper %}
<style>
.tab-content > .tab-pane {
	background: #fff;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: transparent;
	border: 1px solid darkgray;
}
.nav-pills > li > a {
	border: 1px solid transparent;
}
.shadow {
	-moz-box-shadow: 10px 10px 5px rgb(170, 170, 170); /* old Firefox */
    box-shadow: 2px 2px 5px rgb(170, 170, 170);
}
a[target=_blank]:after {
    content: " ›"
}
</style>
<div class="col-lg-12  col-lg-offset-0">
	<!-- desc -->
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-lg-6">
					<h2>otft22 简介</h2>
					<p>otft22是一款适用于树莓派B/B+的小尺寸TFT液晶显示屏。</p>
					<p>otft22分辨率达320×240，屏幕对角线2.2英寸，采用ILI9341芯片驱动。数据接口为4线SPI，时钟频率最高可达600MHz。</p>
				</div>
				<div class="col-lg-5 col-lg-offset-1" style="margin-top: 30px;">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="desc_img_0">
							<img src="{% static 'media/uploads/otft22/feature/barousel2.jpg' %}" alt="" class="img-responsive shadow">
						</div>
						<div role="tabpanel" class="tab-pane fade " id="desc_img_1">
							<img src="{% static 'media/uploads/otft22/feature/barousel3.jpg' %}" alt="" class="img-responsive shadow">
						</div>
						<div role="tabpanel" class="tab-pane fade " id="desc_img_2">
							<img src="{% static 'media/uploads/otft22/feature/barousel6.jpg' %}" alt="" class="img-responsive shadow">
						</div>
						<div role="tabpanel" class="tab-pane fade " id="desc_img_3">
							<img src="{% static 'media/uploads/otft22/feature/barousel1.jpg' %}" alt="" class="img-responsive shadow">
						</div>
						<div role="tabpanel" class="tab-pane fade " id="desc_img_4">
							<img src="{% static 'media/uploads/otft22/feature/barousel5.jpg' %}" alt="" class="img-responsive shadow">
						</div>
						<div role="tabpanel" class="tab-pane fade " id="desc_img_5">
							<img src="{% static 'media/uploads/otft22/feature/barousel4.jpg' %}" alt="" class="img-responsive shadow">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- desc img chooser -->
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<ul class="nav nav-pills nav-justified" role="tablist" id="img_tab">
				<li role="presentation" class="active"><a href="#desc_img_0" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel2.jpg' %}" alt="" width="60" height="40">
				</a></li>
				<li role="presentation"><a href="#desc_img_1" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel3.jpg' %}" alt="" width="60" height="40">
				</a></li>
				<li role="presentation"><a href="#desc_img_2" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel6.jpg' %}" alt="" width="60" height="40">
				</a></li>
				<li role="presentation"><a href="#desc_img_3" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel1.jpg' %}" alt="" width="60" height="40">
				</a></li>
				<li role="presentation"><a href="#desc_img_4" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel5.jpg' %}" alt="" width="60" height="40">
				</a></li>
				<li role="presentation"><a href="#desc_img_5" role="tab" data-toggle="tab">
					<img src="{% static 'media/uploads/otft22/feature/barousel4.jpg' %}" alt="" width="60" height="40">
				</a></li>
			</ul>
		</div>
	</div>
	<!-- tab -->
	<div class="row" style="margin-top: 80px;">
		<div class="col-lg-6 col-lg-offset-3">
			<ul class="nav nav-tabs nav-justified" role="tablist" id="choose_tab">
				<li role="presentation" class="active"><a href="#overview" role="tab" data-toggle="tab">速览</a></li>
				<li role="presentation"><a href="#feature" role="tab" data-toggle="tab">特性</a></li>
				<li role="presentation"><a href="#specification" role="tab" data-toggle="tab">规格</a></li>
			</ul>
		</div>
	</div>
	<!-- tab content -->
	<div class="row" style="margin-top: 40px;">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="overview">
					<!-- pi desktop jumbotron -->
					<div class="row">
						<div class="col-lg-12">
							<img src="{% static 'media/uploads/test/img_0323.jpg' %}" alt="" class="img-responsive shadow">
							<div class="row">
								<div class="col-lg-4" style="padding-right:35px">
									<h2>更方便的操作</h2>
									<p>安装了oftf22并且成功加载了驱动后，TFT上能直接显示命令终端与pi桌面，使树莓派能直接接收USB鼠标和键盘的输入，无需再使用PC来对树莓派进行远程操作。</p>
								</div>
								<div class="col-lg-4" style="padding-left:25px;padding-right:25px">
									<h2>更精确的尺寸</h2>
									<p>otft22使用的PCB是为树莓派B+开发板量身订做的，插槽与树莓派开发板GPIO口无缝连接，并对未用端口进行映射；电路板尺寸适中，不会对树莓派其他功能接口的使用造成影响。</p>
								</div>
								<div class="col-lg-4" style="padding-left:35px">
									<h2>更详尽的指导</h2>
									<p>openRPi依照认知设计理念，为不同层次的用户编写配套的教程，针对三类人群：完全没有接触过linux与嵌入式开发的用户、有使用过linux的并接触过嵌入式开发的用户、以及对嵌入式开发非常熟悉的用户，设置了相应的详细教程。</p>
								</div>
							</div>
						</div>
					</div>
					<!-- many app images -->
					<div class="row">
						<!-- funny text -->
						<div class="col-lg-4" style="padding-right:35px">
							<img src="{% static 'media/uploads/otft22/.thumbnails/funny-text.jpg/funny-text-400x247.jpg' %}" alt="" class="img-responsive shadow">
							<h2><a target="_blank" href="/blog/树莓派小尺寸tft的应用/#多彩文字">多彩文字</a></h2>
							<p>使用Linux命令行下一些有趣的工具，在树莓派屏幕上显示多彩文字。你甚至能在这个小屏幕上开火车。</p>
						</div>
						<!-- monitor -->
						<div class="col-lg-4" style="padding-left:25px;padding-right:25px">
							<img src="{% static 'media/uploads/otft22/.thumbnails/monitor.jpg/monitor-400x247.jpg' %}" alt="" class="img-responsive shadow">
							<h2><a target="_blank" href="/blog/树莓派小尺寸tft的应用/#系统资源概览">系统监控</a></h2>
							<p>monitor.py是一个用pygame库编写的系统资源监视脚本，它运行在树莓派上，而且非常简短。借助它，树莓派的系统资源消耗一目了然。</p>
						</div>
						<!-- video -->
						<div class="col-lg-4" style="padding-left:35px">
							<img src="{% static 'media/uploads/otft22/video.jpg' %}" alt="" class="img-responsive shadow">
							<h2><a target="_blank" href="/blog/树莓派小尺寸tft的应用/#视频播放器">播放视频</a></h2>
							<p>otft22使用mplayer播放视频效果。mplayer是一款基于命令行的开源多媒体播放器，不需启动pi桌面即可在树莓派上播放视频。</p>
						</div>
					</div>
					<!-- more app -->
					<div class="row">
						<div class="col-lg-12">
							<p class="text-center"><a target="_blank" href="/blog/树莓派小尺寸tft的应用/"><em>更多小尺寸TFT的应用</em></a></p>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="feature">
					<h1>显示特性</h1>
					<img src="{% static 'media/uploads/otft22/10.png' %}" alt="">
					<h1>TFT电气特性</h1>
					<img src="{% static 'media/uploads/otft22/11.png' %}" alt="">
					<h1>LED背光源特性</h1>
					<img src="{% static 'media/uploads/otft22/12.png' %}" alt="">
				</div>
				<div role="tabpanel" class="tab-pane" id="specification">
					<h1>电气连接</h1>
					<img src="{% static 'media/uploads/otft22/otft22_circult.jpg' %}" alt="">
					<img src="{% static 'media/uploads/otft22/15.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- guide -->
	<div class="row" style="margin-top: 80px;">
		<div class="col-lg-10 col-lg-offset-1">
			{% editable page.richtextpage.content %}
			{{ page.richtextpage.content|richtext_filters|safe }}
			{% endeditable %}
		</div>
	</div>
</div>
<script>
$(function (argument) {
	$("#img_tab").tab();
	$("#choose_tab").tab();
});
</script>
{% endblock %}

{% block right_wrapper %}
{% endblock %}