{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags blog_tags %}

{% block title %}文章列表{% endblock %}

{% block header %}
{% include "component/header.html" %}
{% endblock %}

{% block body %}

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-9">
			<h1 class="page-header">文章列表</h1>
			{% for blog in blog_posts.object_list %}
				<div class="row">
					<div class="col-md-9">
						<h2><a target="_blank" href="{{ blog.get_absolute_url }}">{{ blog.title }} ›</a></h2>
						<p>{{ blog.user }} | <small>{{ blog.publish_date }}</small></p>
						<hr />
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}