.page-jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: hsl(209, 100%, 10%);
    background: -moz-linear-gradient(45deg, hsl(209, 100%, 10%) 0, hsl(208, 36%, 31%) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, hsl(209, 100%, 10%)), color-stop(100%, hsl(208, 36%, 31%)));
    background: -webkit-linear-gradient(45deg, hsl(209, 100%, 10%) 0, hsl(208, 36%, 31%) 100%);
    background: -o-linear-gradient(45deg, hsl(209, 100%, 10%) 0, hsl(208, 36%, 31%) 100%);
    background: -ms-linear-gradient(45deg, hsl(209, 100%, 10%) 0, hsl(208, 36%, 31%) 100%);
    background: linear-gradient(45deg, hsl(209, 100%, 10%) 0, hsl(208, 36%, 31%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(209, 100%, 10%)', endColorstr='hsl(208, 36%, 31%)', GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2)
}
.page-jumbotron a {
    color: #fff;
    color: rgba(255, 255, 255, .5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.page-jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25)
}
.page-jumbotron p {
    margin: 2em 1em 0 1em;
}
.page-jumbotron .container {
    position: relative;
    z-index: 2
}
.page-jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-page-masthead-pattern.png) repeat center center;
    opacity: .4
}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1) {
    .page-jumbotron:after {
        background-size: 150px 150px
    }
}
.page-masthead {
    padding: 60px 0 80px;
    margin-bottom: 0;
    color: #fff
}
@media screen and (min-width:768px) {
    .page-masthead {
        padding: 90px 0 110px
    }
}
.page-masthead h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700
}
@media screen and (min-width:768px) {
    .page-masthead h1 {
        font-size: 90px
    }
}
@media screen and (min-width:992px) {
    .page-masthead h1 {
        font-size: 100px
    }
}
.page-masthead h2 {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.25
}
@media screen and (min-width:768px) {
    .page-masthead h2 {
        font-size: 24px
    }
}
@media screen and (min-width:992px) {
    .page-masthead h2 {
        font-size: 30px
    }
}
.page-masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25
}
.page-masthead .page-masthead-button-links {
    margin-top: 30px
}
.page-masthead-links {
    margin: 0;
    padding: 0;
    list-style: none
}
.page-masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255, 255, 255, .25)
}
.page-masthead-links li a:hover {
    color: #fff
}