{% extends "base.html" %}
{% load i18n  future mezzanine_tags staticfiles blog_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/openrpi-home.css" %}">
{% endblock %}

{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">

{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}

{% block main %}
<!-- start slider -->
    <!-- Slider -->
        <div id="main-slider" class="jumbotron flexslider ">
            <ul class="slides">
              <li>
                <img src="{% static "media/uploads/page/home/img_0323.png" %}" alt="" />
                <div class="desc-box" style="
                left: 25%;
                right: 25%;
                width: 50%;
                text-align: center;
                ">
                    <h1>oView | 树莓派小尺寸显示屏</h1> 
                    <p>全网最详细中文使用说明和技术资料，全部开源免费共享<br>
                    适用于树莓派/Linux学习与开发</p>  
                    <a href="http://www.openrpi.org/product/oview/" class="btn btn-default">了解更多</a>
                </div>
              </li>
            </ul>
        </div>
    <!-- end slider -->
{% endblock %}

{% endblock %}

{% block right_wrapper %}
{% endblock %}
</section>

<section>
    <p class="aligncenter" style="
    margin-top:2em;
    font-size:2em;
    color: black;">
        <span style="
        font-size:2.2em">openRPi</span>
        <br/>
        一个专注于嵌入式入门与兴趣培养的开源组织</p>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <div class="box-gray aligncenter" style="
                            background:transparent;
                            padding: 20px 20px 10px;">
                                <h3>产品</h3>
                                <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                                </div>
                                <p class="">
                                最亲近的方式，<br/>踏入嵌入式的世界
                                </p>
                            </div>
                            <div class="aligncenter">
                                <a href="/product">了解更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <div class="box-gray aligncenter" style="
                            background:transparent;
                            padding: 20px 20px 10px;">
                                <h3>文章</h3>
                                <div class="icon">
                                <i class="fa fa-pagelines fa-3x"></i>
                                </div>
                                <p class="">
                                理解初学者，<br/>发展技能，更培养兴趣
                                </p>
                            </div>
                            <div class="aligncenter">
                                <a href="/blog">了解更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <div class="box-gray aligncenter" style="
                            background:transparent;
                            padding: 20px 20px 10px;">
                                <h3>下载</h3>
                                <div class="icon">
                                <i class="fa fa-download fa-3x"></i>
                                </div>
                                <p class="">
                                设计资料与代码全部开源，<br/>自由免费下载
                                </p>
                            </div>
                            <div class="aligncenter">
                                <a href="/download">了解更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <div class="box-gray aligncenter" style="
                            background:transparent;
                            padding: 20px 20px 10px;">
                                <h3>关于</h3>
                                <div class="icon">
                                <i class="fa fa-question-circle fa-3x"></i>
                                </div>
                                <p class="">
                                不陌生的openRPi，<br/>它和你有故事
                                </p>
                            </div>
                            <div class="aligncenter">
                                <a href="/about">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>

{% endblock %}


