{% extends "base.html" %}

{% comment %}

inherit block:
    # header @ base.html
    # title  @ base.html
    # body   @ base.html

var:
    user : class

{% endcomment %}

{% load i18n  mezzanine_tags staticfiles%}

{% block header %}
    {% include "component/header.html" %}
{% endblock %}

{% block title %}主页{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-dblue jumbotron-textcenter" style="padding: 90px 0 110px;">
    <div class="container">
        <h1 style="
            line-height: 1;
            letter-spacing: -2px;
            font-weight: 700;
            font-size: 100px;"
            >openRPi</h1>
        <h2 style="line-height: 1.25">专注于嵌入式入门与兴趣培养计划的开源组织</h2>
        <!-- <p class="masthead-button-links">
            <a class="btn btn-lg btn-primary btn-shadow" href="#" target="_blank" role="button">进一步了解 openRPi</a>
            <ul class="masthead-links">
                <li>
                    <a href="#" target="_blank" role="button">openRPi 嵌入式教程</a>
                </li>
            </ul>
        </p> -->
    </div>
</div>

{% endblock %}