{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block title_wrapper %}
<section class="callaction" style="padding-top:0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block left_wrapper %}
{% endblock %}

<div class="col-md-{% block main_col_size %}12{% endblock %}">
{% block main %}{{ block.super }}

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endblock %}
</div>

{% block right_wrapper %}
{% endblock %}