{% extends "pages/page.html" %}

{% comment %}

block:
	# header    @ base.html
	# extra_js  @ base.html
	# extra_css @ base.html
	# title  @ pages/page.html @ base.html
	# body   @ pages/page.html @ base.html

sqlite> .schema pages_richtextpage
CREATE TABLE "pages_richtextpage" (
    "page_ptr_id" integer NOT NULL PRIMARY KEY REFERENCES "pages_page" ("id"),
    "content" text NOT NULL
);

{% endcomment %}

{% load mezzanine_tags staticfiles %}


{% block title %}{{ page.title }}{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.pin.js' %}"></script>
<script src="{% static 'js/doc.js' %}"></script>
<script src="{% static 'js/spage.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/spage.css' %}">
<link rel="stylesheet" href="{% static 'css/doc.css' %}">
{% endblock %}

{% block body %}
<!-- <div class="page-jumbotron">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<p>{{ page.description }}</p>
	</div>
</div> -->

<div class="container-flup doc-content" style="margin-top:0">
	<!-- Main content -->
	<div class="row" style="margin-left:0; margin-right:0">{{ page.richtextpage.content | richtext_filters | safe }}</div>
</div>

<script type="text/javascript">

	$( function () {
		spage_jumbotron_bg("/");
	});
	</script>
{% endblock %}