{% load mezzanine_tags i18n future pages_tags staticfiles %}

<header class="navbar navbar-static-top header-nav">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<img class="img-responsive" src="{% static 'img/logo-small.png' %}" alt="openRPi" width="80px" />
			</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			{% page_menu "component/menus/dropdown.html" %}
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
				<li>
					{% url "profile_update" as profile_update_url %}
					<a href="{{ profile_update_url }}">{{ user.username }}</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle disabled" data-toggle="dropdown" href="#">
						<span class="glyphicon glyphicon-list"></span>
					</a>
					<ul class="dropdown-menu">
						{% url "logout" as logout_url %}
						<li><a href="{{ logout_url }}?next={{ request.path }}">退出</a></li>
					</ul>
				</li>e
				{% else %}
				{% url "signup" as signup_url %}
				{% url "login" as login_url %}
					{% if request.path == login_url or request.path == signup_url %}
						<!-- <li><a href="{{ signup_url }}?next={{ request.GET.next }}" >注册</a></li> -->
						<li><a href="{{ login_url }}?next={{ request.GET.next }}" >登录 ›</a></li>
					{% else %}
						<!-- <li><a href="{{ signup_url }}?next={{ request.path }}" >注册</a></li> -->
						<li><a href="{{ login_url }}?next={{ request.path }}" >登录 ›</a></li>
					{% endif %}
				{% endif %}
			</ul>
		</nav>
	</div>
</header>