{% extends "accounts/account_form.html" %}
{% load i18n mezzanine_tags future %}

{% block title %}注册{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<p>你已经登录。如果需要登录其他用户，请先退出当前登录用户。</p>
{% else %}
<div class="container">
	<div class="row" style="
	margin-top:50px;
	background-color:whitesmoke;
	padding-bottom: 20px;
	padding-top: 25px;">
		<div class="col-md-7"></div>
		<div class="col-md-4">
			{{ block.super }}
			{% if settings.ACCOUNTS_APPROVAL_REQUIRED %}
				<hr/><p>注册成功后，你会收到一封确认邮件</p>
			{% elif settings.ACCOUNTS_VERIFICATION_REQUIRED %}
				<hr/><p>注册成功后，你会收到一封激活邮件。请点击邮件中的链接以激活账户。</p>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}

{% endblock %}