{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
{% include "component/header.html" %}
{% endblock %}

{% block body %}

<style>
form input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

form input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

form input::-moz-placeholder {
    color: #999;
    opacity: 1
}

form input:-ms-input-placeholder {
    color: #999
}

form input::-webkit-input-placeholder {
    color: #999
}

form input[disabled],form input[readonly],fieldset[disabled] form input {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}
</style>

{% errors_for form %}

<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <fieldset>
    <legend>{{ title }}</legend>
    {% fields_for form %}
    <div class="form-actions">
        {% block account_form_actions %}
        <button type="submit" class="btn btn-primary" value="{{ title }}">{{ title }}</button>
        {% endblock %}
    </div>
    </fieldset>
</form>

{% endblock %}