{% extends "accounts/account_form.html" %}
{% load i18n mezzanine_tags future %}

{% block title %}登录{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
<p>你已经登录。如果需要登录其他用户，请先退出当前登录用户。</p>
{% else %}
<div class="container">
	<div class="row" style="
	margin-top:50px;
	background-color:whitesmoke;
	padding-bottom: 20px;
	padding-top: 25px;">
		<div class="col-md-7"></div>
		<div class="col-md-4">
			{{ block.super }}
			<hr/>
			{% url "signup" as signup_url %}
			<p>还没有帐号，现在就来<a href="{{ signup_url }}?next={{ request.GET.next }}">注册</a>一个吧！</p>
			{% url "mezzanine_password_reset" as password_reset_url %}
		    {% url "profile_update" as profile_update_url %}
		    {% blocktrans %}
			<p><a href="{{ password_reset_url }}?next={{ profile_update_url }}">忘记密码？</a></p>
			{% endblocktrans %}
		</p>
	</div>
	</div>
</div>
{% endif %}

{% endblock %}